<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('nav') %>
    <div class="add">
        <h2>Edit Evidence: <%= evidence.evidence_name %></h2>
        <form action="/evidences/edit/<%= evidence.evidence_id %>" method="POST">
            <label for="name">Name: 
                <input id="name" type="text" name="name" value="<%= evidence.evidence_name %>" required>
            </label>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" value="<%= evidence.description %>" required>
            <label for="type">Type: 
                <%- include('add/typeSelect', {types: types, selected: evidence.type_id }) %>
            </label>
            <label for="owner">Owner: 
                <%- include('add/ownerSelect', {owners: owners, selected: evidence.owner_id }) %>
            </label>
            <label for="case">Case: 
                <%- include('add/caseSelect', {cases: cases, selected: evidence.case_id }) %>
            </label>
            <label for="imageUrl">Image URL: </label>
            <input id="imageUrl" type="text" name="imageUrl" value="<%= evidence.image_url %>" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>