<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= evidence.evidence_name %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('nav') %>
    <div class="evidenceDetail">
        <div>
            <h2><%= evidence.evidence_name %></h2>
            <form action="/evidences/edit/<%= evidence.evidence_id %>" method="GET" >
                <button>Edit</button>
            </form>
            <form action="/evidences/delete" method="POST" >
                <input type="hidden" name="evidenceId" value="<%= evidence.evidence_id %>">
                <button>Delete</button>
            </form>
        </div>
        <img src="<%= evidence.image_url %>" alt="<%= evidence.evidence_name %>">
        <div>
            <p>Type: <%= evidence.type_name %></p>
            <p>Owner: <%= evidence.owner_name %></p>
            <p>Case: <%= evidence.case_name %>, from <%= evidence.game_name %></p>
        </div>
        <p><%= evidence.description %></p>  
    </div>
</body>
</html>