<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../nav') %>
    <div class="add">
        <h2>Add New Evidence</h2>
        <form  action="/add/evidence" method="POST">
            <label for="name">Name: 
                <input id="name" type="text" name="name" required>
            </label>
            <label for="description">Description: </label>
            <input id="description" type="text" name="description" required>
            <label for="type">Type: 
                <%- include('typeSelect', {types: types, selected: false}) %>
            </label>
            <label for="owner">Owner: 
                <%- include('ownerSelect', {owners: owners, selected: false}) %>
            </label>
            <label for="case">Case: 
                <%- include('caseSelect', {cases: cases, selected: false}) %>
            </label>
            <label for="imageUrl">Image URL: </label>
            <input id="imageUrl" type="text" name="imageUrl" required>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>