<select name="case" id="case">
    <% cases.forEach((c) => { %>
        <% if (selected) { %>
            <% if (c.id == Number(selected)) { %>
                <option selected value="<%= c.id %>"><%= c.name %></option>
            <% } else { %>
                <option value="<%= c.id %>"><%= c.name %></option>
            <% } %>
        <% } else { %>
            <option value="<%= c.id %>"><%= c.name %></option>
        <% } %>
    <% }); %>
</select>