<select name="type" id="type">
    <% types.forEach((type) => { %>
        <% if (selected) { %>
            <% if (type.id == Number(selected)) { %>
                <option selected value="<%= type.id %>"><%= type.name %></option>
            <% } else { %>
                <option value="<%= type.id %>"><%= type.name %></option>
            <% } %>
        <% } else { %>
            <option value="<%= type.id %>"><%= type.name %></option>
        <% } %>
    <%  }); %>
</select>